{% extends 'base.html.twig' %}

{% block title %}Edit Dictado{% endblock %}

{% block body %}
    <h1>Edit Dictado</h1>

    {{ include('dictado/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dictado_index') }}">back to list</a>

    {{ include('dictado/_delete_form.html.twig') }}
{% endblock %}
