{% extends 'base.html.twig' %}

{% block title %}New Carrera{% endblock %}

{% block body %}
    <h1>Create new Carrera</h1>

    {{ include('carrera/_form.html.twig') }}

    <a href="{{ path('app_carrera_index') }}">back to list</a>
{% endblock %}
